
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container{
    height: 100vmin;
    width: 100%;
    background-color:  hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-container{
    height: 75%;
    width: 55%;
    background-color: white;
    border-radius: 30px;
}
.newsletter-container-hide{
    display: none;
}

.newsletter{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsletter-text-related-data{
    height: 90%;
    width: 55%;
}

.newsletter-form-container{
    padding: 50px 80px;
}

#form-heading{
    font-size:40px; 
    font-weight: 700;
}

#form-para{
    margin-top: 10px;
}
.checklist-container{
    height: fit-content;
}
.checklist{
    height: 25px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.input-container{
    height: 110px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.emailInputLabel{
    height: 40px;
    font-size: 18px;
    font-weight: 400;
}

.emailInputState-1{
    height: 60px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 400;
} 

.emailInputState-2{
    height: 60px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 0px 20px;
    background-color: hsl(4, 100%, 95%);
    color:  hsl(4, 100%, 67%);
    font-size: 18px;
    font-weight: 400;
}

.emailErrorState-1{
    /* margin-left: 80px; */
    float: right;
    color: white;
}

.emailErrorState-2{
    /* margin-left: 80px; */
    float: right;
    color:  hsl(4, 100%, 67%);
}

.form-submitting-btn{
    height: 65px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.newsletter-image{
    height: 90%;
    width: 40%;
    border-radius: 10px;
}



.newsletter-success-container{
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.newsletter-success-container-hide{
    display: none;
}
.newsletter-success{
    padding: 30px 65px;
}

#newsletter-success-heading{
    font-size:40px;
    font-weight: 700;
    margin-top: 10px;
}

#newsletter-success-para{
    margin-top: 10px;
}

.dismiss-message-btn{
    height: 55px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    background-color: hsl(235, 18%, 26%);
    color: white;
    cursor: pointer;
    margin-top: 20px;

}

button:hover{
    background-color:hsl(4, 100%, 67%) ;
}


@media only screen and (min-width:375px) and (max-width : 600px){
    body{
        font-size:16px ;
    }
    .container{
        height: 100vh;
        width: 100%;
        background-color: white;
    }

    .newsletter-container{
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
    .newsletter{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .newsletter-text-related-data{
        width: 100%;
    }

    .newsletter-form-container{
        padding: 45px;
    }
    
    #form-heading{
        font-weight: 700;
    }

    #form-para{
        margin-top: 30px;
    }

    .checklist-container{
        margin-top: 30px;
    }
    .emailInputState-1{
        margin-top: 5px;
    }
    .emailErrorState-1{
        margin-left: 50px;
    }
    .emailErrorState-2{
        margin-top: 5x;
        /* margin-left: 45px; */
        float: right;
    }

    .form-submitting-btn{
        margin-top: 10px;
    }
    .newsletter-image{
        width: 100%;
        height: 40%;
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
        background-size: cover;

    }
    .newsletter-image img{
        display: none;
    }
    

    .newsletter-success-container{
        height: 100%;
        width: 100%;
        border-radius: 0px;

    }

    .newsletter-success{
        padding: 120px 30px;
    }


    #newsletter-success-heading{
        margin-top: 30px;
    }
    #newsletter-success-para{
        margin-top: 30px;
    }

    .dismiss-message-btn{
        margin-top: 260px;
    }


}

@media only screen and (min-width:760px) and (max-width:1435px){
    .container{
        height: 100vh;
        width: 100%;
    }

    .newsletter-container{
        width: 80%;
        height: 75%;
    }
    .newsletter{
        height: 100%;
        width: 100%;
    }
    .newsletter-text-related-data{
        height: 100%;
        width: 55%;
    }
    .newsletter-form-container{
        padding: 80px 30px;
    }
    
    #form-heading{
        margin-top: 30px;
    }

    #form-para{
        margin-top: 20px;
    }

    .checklist-container{
        margin-top: 15px;
    }
    .emailErrorState-1{
        margin-left: 50px;
    }
    .emailErrorState-2{
        /* margin-left: 17%; */
        float: right;
    }
    .newsletter-image{
        height: 100%;
        min-width: 45%;
    }
}

